.dialigs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialogText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}